.detail {
  height: 500px;
  background-color: gray;
  border-radius: 20px;
  position: relative;

  &-image {
    border-radius: 20px;
    opacity: 15%;
  }

  &-data {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;

    &-body {
      height: 100%;

      &-image {
        align-items: center;
        display: flex;
        border-radius: 20px;
      }
  
      &-info {
        color: white;
      }
  
      &-vote {
        margin-top: 20px;
        font-size: 25px;
        display: flex;
        align-items: center;
  
        &-icon {
          margin-left: 5px;
          color: yellow !important;
        }

        &-button {
          margin-left: 20px;
          background-color: rgb(87, 87, 87);
          border-color: rgb(87, 87, 87);
          border-radius: 20px;
        }

        &-stars {
          margin-left: 20px;
          padding: 10px;
          background-color: rgb(87, 87, 87);
          border-radius: 20px;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          .star {
            font-size: 17px;
            transition: 1s all;
          }

          .star:hover{
            cursor: pointer;
            color: yellow;
            transform: rotate(360deg);
          }

          .star:hover ~ .star{
            color: yellow;
            transform: rotate(360deg);
          }
        }
      }
  
      &-overview {
        margin-top: 20px;
        font-size: 17px;
      }
    }
  }
}

.ant-modal-content {
  border-radius: 20px;

  .ant-modal-body {
    padding: 0;
  }
}
