@import '~antd/dist/antd.css';

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
  }

  &-input {
    max-width: 200px;
    height: 32px;
    border-radius: 30px;

    .ant-input-affix-wrapper, .ant-input {
      background-color: gray;
    }
  }
}